$header_height: 34px;
$toolbar_height: 40px;
$formula_height: 24px;
$info_cell_width: 40px;
$row-height: 24px;
$dsh_header_height: 64px;
$border_color: #c0c0c0;
$cell_width: 120px;
$primary-color: #3c74ff;